
.items-section {
    width: 100%;
    padding: 50px 140px;
    background: rgb(245, 244, 244);
  }
  .items-section h2 {
    margin-bottom: 30px;
  }
  .all-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    animation: fadeIn 0.8s;
    row-gap: 20px;
  }
  .single-item {
    width: 220px;
    height: 360px;
    padding: 15px 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow:  6px 10px 20px #bebebe,
             -10px -10px 60px #ffffff;
    transition: 0.3s;
    animation: fadeIn 1s;
  }
  .item-desc {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0 12px;
  }
  .item-image img {
    width: 180px;
    height: 150px;
    margin-bottom: 15px;
  }
  .brand-name {
    width: 200px;
    height: 20px;
    font-size: 14px;
    color: var(--secondary-color);
    margin-bottom: 15px;
    
  }
  .item-name {
    width: 200px;
    height: 35px;
    font-size: 15px;
    font-weight: 600;
    height: 40px;
    margin-bottom: 10px;
  }
  .price-detail {
    display: flex;
    column-gap: 7px;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
  }
  .total-amount {
    color: rgb(246, 74, 6);
    font-weight: 600;
  }
  .discount {
    font-size: 13px;
    color: rgb(246, 74, 6);
  }
  .discount-amount {
    text-decoration: line-through;
  }
  .addAndwishlist {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .add-To-Wishlist i {
    font-size: 22px;
    color: rgb(246, 208, 162);
    cursor: pointer;
  }
  .add-item-btn p{
    padding: 4px 25px;
    border: 1px solid var(--secondary-color);
    font-size: 18px;
    color: var(--secondary-color);
    border-radius: 16px;
    cursor: pointer;
  }
  .add-item-btn p:hover {
    box-shadow: 1px 1px 6px 3px rgba(236, 126, 66, 1);
    border: 0;
    color: rgb(236, 126, 66);
    box-sizing: border-box;
  }

  .count-item-opt{
    display: flex;
    column-gap: 10px;
    align-items: center;
    box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.1);
    padding: 0px 8px;
    border-radius: 20px;
  }
  .inc-count{
    color: green;
    font-size: 24px;
    font-weight: 600;
    padding: 4px;
    cursor: pointer;
  }
  .dec-count{
    color: red;
    font-size: 18px;
    font-weight: 600;
    padding: 4px;
    cursor: pointer;
  }