.top-slider{
    width: 100%;
    height: 320px;
    padding: 10px;
    display: flex;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    background: rgb(245, 244, 244);
    position: relative;
    top: 120px;
    margin-bottom: 30px;
    animation: fadeIn 0.8s;
  }
  @keyframes fadeIn {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }
  .top-slider::-webkit-scrollbar{
    display: none;
  }
  .item{
    width: 30%;
    height: 100%;
    flex: 0 0 auto;
    border-radius: 10px;
    background: white;
    margin-right: 10px;
    text-transform: capitalize;
    color: #f0f0f0;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    padding: 5px;
    position: relative;
  }
  .item img{
    border-radius: 10px;
  }
  .item .desc{
    width: 100%;
    height: 100px;
    top: 30px;
    background-image: linear-gradient(to left, rgb(250, 250, 250,0), rgb(237, 232, 232));
    position: absolute;
    padding: 15px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }
  .item .desc .discount{
    font-size: 13px;
    font-weight: 500;
    color: rgb(251, 97, 15);
  }
  .item .desc .txt{
    font-size: 20px;
    color: var(--secondary-color);
  }
  .item .desc .itemName{
    color: var(--secondary-color);
  }
  .item .buy-btn{
    padding: 10px 20px;
    background-color: rgb(251, 97, 15);
    color: white;
    border-radius: 5px;
    position: absolute;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
  }
  .item .buy-btn:hover{
    background-color: rgb(236, 126, 66);
  }
  